
body{
    font-family: Verdana, Geneva, sans-serif;
    scroll-behavior: smooth;
}

#menu_wrap{
   margin-bottom: 100px;
   margin-top: 100px; 
}

/*section container konten style*/
.konten-container {
    margin: 50px 100px 50px 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    background-color: #ffffe5;
    padding: 50px;
    text-align: justify;
}


/* navbar style */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color : #ffffe5 ; 
  position: fixed;
  top: 0px;
  width: 100%;
}

li {
  float: right;
}

.logonavbar{
    float: left;
}

li a {
  display: block;
  color: #5e5c5c;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:#a6beff;
}

.foter{
    bottom: 0px;
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
    
    background-color: black;
    text-align: center;
    color: aliceblue;
}