
#stylenavbar{
    background-color:#98bee4ee;
    height: auto;
}

#paddingtopnavmenu{
    padding: 15px;
    text-align: center;
}

#menutengah{
    padding-top: 5px;
}

#menu-kanan{
    text-align: center;
    font-size: 15px  ;
    font-weight: bolder; 
    padding-inline-end: 5px;
}

ul{
    list-style-type: none;
}

li a {
    display: block;
    color: #5e5c5c;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:#4685fabe;
}

#searchbar{
    width: 250px;
    padding-inline-end: 10px;

}
h1.jumbotron{
    text-align: center;

}
.jumbotron{
    text-align: justify;
    font-weight: 500;
}
#carosel{
    width: auto;
    height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }
  #menutengah{
      padding-top: 160px;
  }

  .column {
    float: left;
    
  }
  
  .left, .right {
    width: 20%;
    height: 445px;
  }
  
  .middle {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .centered, h2{
      color: white;
      text-align: center;
  }

  .offset-0 {
    padding-left: 0;
    padding-right: 0;
}
.right,li{
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
  
.row, link{
    padding-top: 20px;
}

.panel-heading, .panel-footer{
    text-align: center;
}

.eksternal-link{
    background-color: white;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    top: 50%;
    left: 50%;
}

.foter{
    bottom: 0px;
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
    
    background-color: black;
    text-align: center;
    color: aliceblue;
}


